extends layout.pug

block content
  form(name="profile" id="profile")
    label Name
      input(type="text" id="name" name="name")
    label Password
      input(type="password" id="password" name="password")
    input(type="submit" id="submit")

  div(class="result")
  

  