h1 {
  color: green;
}

input[type="submit"] {
  background: rgb(171, 230, 94);
}

#profile {
  display: flex;
  flex-flow: column;
  width: 185px
}

label {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  margin-bottom: 15px;
}

input {
  width: 100px;
}

label input {
  margin-left: 15px;
}

